<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.netease.a13.testCase.Login"/>
      <class name="com.netease.a13.testCase.MoocLogin"/>
      <class name="com.netease.a13.testCase.AppTest"/>
      <class name="com.netease.a13.testCase.testCourseList"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
