<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="username" value="18513199586" />
<parameter name="pass" value="111111" />
  <test name="Test">
    <classes>
      <class name="com.mushishi.selenium.testCase.testCourseListPage"/>
      <class name="com.mushishi.selenium.testCase.login"/>
      <class name="com.mushishi.selenium.testCase.testngTest"/>
      <class name="com.mushishi.selenium.Login"/>
      <class name="com.mushishi.selenium.testCase.SuiteTestLogin"/>
      <class name="com.mushishi.selenium.testCase.CourseList"/>
      <class name="com.mushishi.selenium.testCase.SuiteTestBuy"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
